.importante{font-weight: bolder;text-transform: uppercase ;animation-name: importante;animation-duration: 4s;animation-delay: 2s;animation-iteration-count: infinite;}

.paginas{text-align: center;text-decoration: solid;
text-transform: map-get($text,mayus);}

.imgtres img{border-radius: 90%;}
.imgdos {padding-bottom: 20%;}
.imguno p{margin-bottom: 20%;}

